<template>
  <Layout :landing-page="true">
    <div class="container">
      <section class="section">
        <h2 class="title">¡Participa de nuestros meetups!</h2>
        <h3 class="subtitle">Nos reunimos todos los meses en <a href="https://piloto151.com/santurce-suites/">Piloto 151, Santurce Suites</a> para discutir ideas de negocio, hacer amigos y compartir pizzas y cervezas.</h3>
        <p>
          Entérate de <b>nuestros próximos eventos</b> en <a href="https://twitter.com/indiehackerspr">nuestro Twitter</a>. </p>
        <br>
        <p>Mira <a href="https://www.youtube.com/channel/UCYqirt7QurXFiXkgMgz6QMA">nuestras charlas anteriores</a>.</p>
        <br>
        <div class="buttons has-margin-top-5">
          <a class="button is-primary" href="https://twitter.com/indiehackerspr">Próximos eventos</a>
          <a class="button is-secondary" href="https://www.youtube.com/channel/UCYqirt7QurXFiXkgMgz6QMA">Charlas previas</a>
        </div>
        <div class="columns has-margin-top-5">
          <div class="column">
            <figure class="image is-3by2">
              <g-image alt="Indie Hackers Puerto Rico Meetup" src="~/assets/img_3415_720.jpg" width="480" height="320" fit="cover" quality="100" />
            </figure>
          </div>
          <div class="column">
            <figure class="image is-3by2">
              <g-image alt="Indie Hackers Puerto Rico Meetup" src="~/assets/beers.jpg" width="480" height="320" fit="cover" quality="100" />
            </figure>
          </div>
        </div>
      </section>

      <section class="section">
        <h2 class="title">¿Trabajas remoto, eres freelancer o trabajas solo?</h2>
        <h3 class="subtitle">¡Participa de nuestra comunidad en Slack!</h3>
        <p>Esta es nuestra cafetería virtual donde nos ayudamos, relajamos un poco y discutimos estrategias de negocios.
        </p>
        <br>
        <a class="button is-primary" href="https://communityinviter.com/apps/indiehackerspr/indie-hackers-puerto-rico">Únete a nuestra comunidad</a>
      </section>

      <section class="section">
        <h2 class="title">Miembros</h2>
        <div class="columns is-multiline">
          <member
            v-for="b in shuffle(bios)"
            :name="b.name"
            :profile-pic-u-r-l="b.pic"
            :bio="b.bio"
            :key="b.name"
            />
        </div>
      </section>
    </div>
  </Layout>
</template>

<script>
import Member from '../components/Member.vue';

export default {
  methods: {
    shuffle(a) {
      for (let i = a.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        [a[i], a[j]] = [a[j], a[i]];
      }
      return a;
    }
  },
  data() {
    return {
      bios: [
        {
          name: 'Gabriel J. Pérez Irizarry',
          pic: 'gabriel.jpg',
          bio: 'Embajador local de <a href="https://www.indiehackers.com/">Indie Hackers</a>. Fundador de <a href="https://www.peerfeedback.io/">Peer Feedback</a>, <a href="https://www.koipun.com/">Koipun</a> y <a href="https://caproni.fm">Caproni</a>. Ex-alumno del Colegio y Georgia Tech. Sigueme en Twitter en <a href="https://twitter.com/gabrielperezi">español</a> e <a href="https://twitter.com/gaburieru4649">ingles</a>.'
        },
        {
          name: 'Emanuel Rolon',
          pic: 'emanuel.jpg',
          bio: 'Experto en tecnología móvil e incansable buscador espiritual que cree en convertir ideas en realidad. Fundador del <a href="https://OraculoDelMono.com">Oraculo del Mono</a> y <a href="https://www.facebook.com/TropicalSiliconValley/">Tropical Silicon Valley</a>. Ver otros proyectos <a href="https://linktr.ee/emrolon">aquí</a>.'
        },
        {
          name: 'José Francisco Rodríguez Zayas',
          pic: 'chisko.jpg',
          bio: 'Tiene más de tres años de experiencia trabajando principalmente como web developer. Analista en programación con vasta experiencia en el desarrollo en diferentes entornos técnicos. <a href="http://www.chisko.dev/">Pagina personal</a> y <a href="https://www.linkedin.com/in/jrodriguez-zayas/">LinkedIn</a>.'
        },
        {
          name: 'Mikel Martinez',
          pic: 'mikel.jpg',
          bio: 'Ha sido productor de programa radial, gerente de proyectos y community manager. Fundador de <a href="https://mikel.media/">Mikel Media</a>. Produce sus podcasts <a href="https://anchor.fm/rocknblock">Rock \'n\' Block</a> y Emprendedor Singular. Su mayor pasión es poder ayudar a otros a lograr su máximo potencial.'
        },
        {
          name: 'David Soto',
          pic: 'david.jpg',
          bio: 'Experto en manejo de datos en todas las plataformas con enfoque en tecnologias cloud. Le apasiona expandir aplicaciones existentes con soluciones modernas y la eficiencia en optimización de procesos.  <a href="https://customcomstudio.com">Página de productos y servicios</a>'
        },
        {
          name: 'Gabriel Soto',
          pic: 'gabriel-soto.jpg',
          bio: 'Experto en mercadeo digital y fundador de <a href="https://clientesdecalidad.digital/evaluacion">Linked Innovation</a>. Me especializó en conseguir leads para negocios locales y para la industria de bienes raíces. <a href="http://linkedin.com/in/angel-gabriel-medina-a4767b185">Buscame en LinkedIn.</a>'
        },
        {
          name: 'Leira C. Sánchez Quiñones',
          pic: 'leira.jpg',
          bio: 'Ingeniero mecánico turned ingeniero de software. Founding Software Engineer en <a href="https://join.jam.ai/">jam.ai</a>. Fundadora de <a href="https://mofongojobs.com/">mofongojobs.com</a>, una plataforma que conecta al talento de Puerto Rico con oportunidades profesionales locales y remotas.'
        },
        {
          name: 'Nathalia N. Cruz Ortiz',
          pic: 'nathalia.jpg',
          bio: 'A passionate Public Relations Specialist with over a decade of successful experience in marketing and sales. She is a passionate communicator, a published columnist, radio and event host. She also coaches small business owners to create marketing campaigns, processes and systems in order to maximize their time and increase profitability. Follow her on <a href="https://twitter.com/pink_pulpo">Twitter</a> and <a href="https://www.linkedin.com/in/nathaliacruzortiz/">LinkedIn</a>.'
        },
        {
          name: 'Juan G. De Jesús Torres',
          pic: 'juan.png',
          bio: 'Desarrolla software en <a href="https://www.linkedin.com/company/qinetix-group-llc/">Qinetix</a>. Adicto a los JRPGs y todo lo que tenga que ver con Role Playing Games. Desarrolla herramientas de software en su tiempo libre. Visita su <a href="https://github.com/juan1003">GitHub</a> y <a href="https://twitter.com/jdejesus93">síguele en Twitter</a>. Para contratarlo puedes <a href="mailto:jdejesus93@gmail.com.">escribirle</a>.'
        },
        {
          name: 'Onix Ortiz',
          pic: 'onix.jpg',
          bio: 'Administrador de Proyectos y Consultor en Tecnología con más de 15 años de experiencia en el manejo de Tecnología Aplicada. Cuenta con experiencia en los mercados de Puerto Rico, EEUU y Panamá. Inventor por pasión. Fundador de <a href="https://www.dsinergia.com/">Dsinergia</a> y <a href="https://onixortiz.com/">OnixOrtiz.com</a>.'
        },
        {
          name: 'Javier Rosario',
          pic: 'javier.jpg',
          bio: 'Ingeniero multifacetico especializado en el area de DevOps y dinamica de equipos. Puedes ver mis trabajos de Maker en <a href="https://www.mightyjrmods.com">MightyJRMods</a> y en <a href="https://www.linkedin.com/in/javierorosario/">LinkedIn</a>'
        },
        {
          name: 'Hector Ayala',
          pic: 'hector.jpg',
          bio: 'Cofundador de <a href="https://www.hecdemi.com/">Hecdemi</a> actualmente creando <a href="https://www.hyperion.finance/">Hyperion</a>. Soy ingeniero de computadoras con experiencia diseñando y desarrollando software para maquinas automatizadas de manufactura (PLCs + HMIs), programas web, videos de promoción y efectos especiales, branding de productos, aplicaciones en la nube (AWS), y API software. Puedes ver alguno de mis inventos y proyectos en mi <a href="https://www.bombillazo.com/">pagina personal</a>. Sígueme en <a href="https://twitter.com/bombillazo">Twitter</a>, <a href="https://github.com/bombillazo">Github</a> y conecta por <a href="https://www.linkedin.com/in/bombillazo/">LinkedIn</a>.'
        },
        {
          name: 'Xiomara Figueroa',
          pic: 'xiomara.jpg',
          bio: 'Científica de cómputos, actualmente co-fundadora y CTO de <a href="https://www.booksloth.com/">BookSloth</a>. Además de codear, me gusta boxear y escuchar podcasts. Algunos de mis favoritos son Snacks Daily, A16Z y Mentores en Linea. Algunos temas que me gusta escuchar / leer / consumir, además de temas de empresarismo y tecnología, son biografías, ciencia ficción, y ficción histórica. A veces escribo en Medium, aunque me gustaría escribir más. Sigueme en <a href="https://twitter.com/_xiomara7">Twitter</a>, <a href="https://medium.com/@figueroa_xio">Medium</a>, <a href="https://pr.linkedin.com/in/xiomarafigueroa">LinkedIn</a> y <a href="https://xiomara7.github.io">mi pagina personal</a>.'
        },
        {
          name: 'Camille Padilla Dalmau',
          pic: 'camille.jpg',
          bio: 'Periodista, educadora y fundadora de <a href="https://9millones.com/">9 Millones</a>, una plataforma que conecta a los nueve millones de boricuas alrededor del mundo a través del storytelling. Antes de emprender, Camille trabajó en NowThis creciendo su audiencia latinoamericana. Ha sido reportera en medios de la Ciudad de Nueva York, San Juan, Filadelfia y Buenos Aires. Sus temas de interés son el ambientalismo, la justicia social y la governanza.'
        }
      ]
    }
  },
  components: {
    Member,
  },
  metaInfo: {
    title: 'Indie Hackers Puerto Rico',
    meta: [
      { name: "description", content: 'El hogar de los emprendedores independientes boricuas. Comunidad local de Indie Hackers. ' }
    ]
  }
}
</script>

<style>

</style>
