<template>
  <Layout :landing-page="false">
    <div class="container">
      <section class="section">
        <h1 class="title">Donde trabajar remoto en Puerto Rico</h1>
        <h2 class=subtitle>¿Conces un lugar bueno de donde trabajar remoto? <a href="https://indiehackerpr.paperform.co">¡Añadelo a nuestra lista!</a></h2>
        <p></p>
        <div class="columns is-multiline">
          <div class="column is-mobile is-one-third" v-for="e in $page.allGoogleSheet.edges">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <g-image :src="e.node.imageDownloaded"
                    width="640"
                    height="480"
                    fit="cover"
                    alt="Store image"/>
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="title is-4">{{ e.node.nombre_de_negocio }}</p>
                    <p class="subtitle is-6">{{ e.node.pueblo }}</p>
                  </div>
                </div>
                <div class="content">
                  <p>{{ e.node.comentarios }}</p>
                  <p>
                    <g-link :to="e.node.mapa">Direcciones</g-link>&nbsp;&nbsp;
                    <g-link v-if="e.node.website" :to="e.node.website">Web</g-link>
                  </p>
                  <div class="tags">
                    <span class="tag is-primary">{{ e.node.tipo_de_negocio }}</span>
                    <span class="tag is-primary">Costo: {{ e.node.costo }}</span>
                    <span class="tag is-primary">Wi-Fi: {{ e.node.wi_fi }},
                      <span class="is-lowercase">{{ e.node.velocidad }}</span>,
                      <span v-if="e.node.estabilidad">estable</span>
                      <span v-else>inestable</span>
                    </span>
                    <span class="tag is-primary">Plugs: {{ e.node.plugs }}</span>
                    <span class="tag is-primary">{{ e.node.parking }}</span>
                    <span class="tag is-primary">Evaluación: {{ e.node.rating }}</span>
                    <span class="tag is-primary" v-if="e.node.comida === 'Yes'">{{ e.node.tipo_de_comida }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: 'Indie Hackers Puerto Rico - Co-working y trabajo remoto en Puerto Rico',
    meta: [
      { name: "description", content: 'Directio de los mejores co-working y lugares para trabajar remoto en Puerto Rico' }
    ]
  }
}
</script>

<page-query>
  query MyData {
    allGoogleSheet {
      edges {
        node {
          id
          nombre_de_negocio
          tipo_de_negocio
          comentarios
          pueblo
          comida
          tipo_de_comida
          wi_fi
          velocidad
          estabilidad
          plugs
          parking
          costo
          redes
          rating
          mapa
          website
          imageDownloaded
        }
      }
    }
  }
</page-query>

<style>
</style>
