<template>
    <div class="column is-one-third">
        <figure class="image is-128x128">
            <g-image 
                class="is-rounded" 
                alt="Foto" 
                width="128"
                :src="require(`@images/${profilePicURL}`)"
            />
        </figure>
        <p class="is-size-5 has-margin-top-5">{{ name }}</p>
        <p class="has-margin-top-5" v-html="bio"></p>
    </div>
</template>

<script>
    export default {
        props: {
            profilePicURL: {
                type: String,
                default: '',
            },
            name: {
                type: String,
                default: '',
            },
            bio:{
                type: String,
                default: '',
            }, 
        },        
    }
</script>

<style lang="scss" scoped>

</style>