<template>
  <div>
    <section class="hero is-dark is-medium">
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <g-link class="navbar-item" to="/" exact>
                {{ $static.metadata.siteName }}
              </g-link>
            </div>
            <div class="navbar-end">
              <g-link class="navbar-item" active-class="is-active" to="/" exact>
                Hogar
              </g-link>
              <g-link class="navbar-item" active-class="is-active" to="/trabajo-remoto/">
                ¿Donde trabajar remoto?
              </g-link>
            </div>
          </div>
        </nav>
      </div>
      <div class="hero-body" v-if="landingPage">
        <div class="container has-text-centered">
          <g-image alt="Indie Hackers Puerto Rico logo" src="~/indiehackers-pr.png" width="135" />
          <h1 class="title is-1">
            Indie Hackers Puerto Rico
          </h1>
          <h2 class="subtitle">
            El hogar de los emprendedores independientes.
          </h2>
        </div>
      </div>
    </section>
    <slot/>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <a href="https://communityinviter.com/apps/indiehackerspr/indie-hackers-puerto-rico">Comunidad en Slack</a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://twitter.com/indiehackerspr" target="_blank" rel="noopener">Twitter</a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://www.youtube.com/channel/UCYqirt7QurXFiXkgMgz6QMA" target="_blank" rel="noopener">Charlas anteriores</a>
        </p>
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Licencia Creative Commons Atribución-CompartirIgual 3.0 No portada</a>
      </div>
    </footer>
  </div>
</template>

<static-query>
query {
  metadata {
    siteName
  }
}
</static-query>

<script>
export default {
  name: 'Default',
  props: {
    landingPage: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style>

</style>
